@import url('./colors.css');

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    overflow: scroll;
    background: var(--very-light-gray);
}